{% extends 'outages/base.html' %}

{% block title %}Community Map{% endblock %}

{% block container_class %}map-container{% endblock %}

{% block content %}
    <div class="dashboard-header">
        <h1>Community Map</h1>
        <a href="{% url 'dashboard' %}" class="btn">Back to Dashboard</a>
    </div>
    <div id="map"></div>
{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const communities = JSON.parse('{{ communities_json|escapejs }}');
            const map = L.map('map').setView([communities[0].latitude, communities[0].longitude], 10);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            const greenIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            const redIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            communities.forEach(community => {
                const icon = community.power_status ? greenIcon : redIcon;
                L.marker([community.latitude, community.longitude], { icon: icon })
                    .addTo(map)
                    .bindPopup(`<b>${community.name}</b><br>Power: ${community.power_status ? 'ON' : 'OFF'}`);
            });
        });
    </script>
{% endblock %}
